node_red_base/flows.json
[
    {
        "id": "7990b5e79a2e2819",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6f081f5ba147a226",
        "type": "group",
        "z": "7990b5e79a2e2819",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "01fdc1e02c91e59d",
            "34ec8ed3e18b163d",
            "cdf5b2a1e7724198"
        ],
        "x": 34,
        "y": 19,
        "w": 512,
        "h": 142
    },
    {
        "id": "01fdc1e02c91e59d",
        "type": "inject",
        "z": "7990b5e79a2e2819",
        "g": "6f081f5ba147a226",
        "name": "Lab 03, working with a robot",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Lab 03, working with a robot.",
        "payloadType": "str",
        "x": 200,
        "y": 60,
        "wires": [
            [
                "34ec8ed3e18b163d"
            ]
        ]
    },
    {
        "id": "34ec8ed3e18b163d",
        "type": "debug",
        "z": "7990b5e79a2e2819",
        "g": "6f081f5ba147a226",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 60,
        "wires": []
    },
    {
        "id": "cdf5b2a1e7724198",
        "type": "comment",
        "z": "7990b5e79a2e2819",
        "g": "6f081f5ba147a226",
        "name": "An empty flow.",
        "info": "",
        "x": 140,
        "y": 120,
        "wires": []
    }
]